<nav>
  <div class="nav-wrapper">
    <a routerLink="/home" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/login">Login</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/courses">Courses</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['course', idCurso.value]">Course With Id</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/form">Form</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <p>Entre com o id do curso:</p>
  <input #idCurso>
  <router-outlet></router-outlet>
</div>